div.infor-search{
    display: flex;
    justify-content: left;
    margin-top: 30px;
    margin-bottom: -10px;
}

div.infor-search h4{
    font-weight: bold;
    color:rgb(85, 83, 83);
    margin: 20px 0px 20px 134px;
}

div.infor-search h4#count-search{
    color: orangered;
    margin: 20px 0px 20px 10px;

}
